/*removing redundancy*/
/*new css #1 text shadow*/
#Header, #LeftNav, #Content, #Footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-shadow: 4px 4px black;
}

#Header h1, h3{
    font-family: "Passion One", cursive;
}

a, div{
    color: white;
}

#Header h1, h3, #bow{
    color: #FFBC00;
}

#Header h1, h3, a, p{
    font-weight: bold;
}

/*new css #2: text decoration - overline*/
h3{
    font-size: 40px;
    margin-bottom: 0px;
    text-decoration: overline;
}

body{
    text-align: center;
    background-image: url("dark_wood.png");
}

div {
    background-color: #8E41D5;
}

a{
    font-size: 24px;
}

p{
    font-family: "Arial";
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

/*new css #3: opacity*/
img{
    opacity: 0.75;
}

/*new css #4: sticky position; also did the text transform - lowercase (#5)*/
#Header {
    width: 500px;
    position: sticky;
    top: 0;
    text-transform: lowercase;
}

#Header h1{
    font-size: 60px;
}

/*will overlap due to computer size*/
#LeftNav{
    width: 400px;
    float: left;
    padding-bottom: 8x;
}

#Content{
    width: 700px;
    padding: 15px;
}

/*new css #5: text tranform - uppercase*/
#bow{
    text-transform: uppercase;
}